
@import "./../../less/variables";







/* DISCOVER */

.discover-hero {
   // @include blur-3;
   // 
   &{
     @media(min-width: 768px){
       padding-bottom: 13em;
     }
   }
}
.discover-hero .wrapper {
    position: relative;
}
.discover-hero .hero-box {
    position: absolute;
    z-index: 3;
    bottom: -6em;
    left: 0;
    right: 0;
    max-width: 1000px;
    margin: 0 auto;
    color: $paper;
    background-color: rgba(0, 47, 67, 0.7);
    backdrop-filter: blur(10px);
	//-webkit-backdrop-filter: blur(10px);
    &{
        @media(max-width: 500px){
            bottom: -15em!important;          
        }
    }
   
}
.discover-hero .hero-box .max-width {
    padding: 20px 30px 30px 30px;
    text-align: center;
    h1{
        font-family: "Londrina Solid", sans-serif;
        font-weight: 900;
        font-style: normal;
        text-transform: uppercase;
        font-style: italic;
        color: #FFFBFB;
        font-size: 60px;
        letter-spacing: 5px;
        -webkit-text-stroke: 2px #fff;
        -webkit-text-fill-color: transparent;
        &{
            @media(max-width: 500px){
                font-size: 45px;
            }
        }
    }
    h3{
        color: #FFF;                 
        font-size: 20px;
        font-family: "Play", sans-serif;
        font-weight: 300;
        display: block;
        margin: 0 auto;
       //letter-spacing: 1.5px;
    }
    &{
        @media(max-width: 767px){
            display: none;
        }
    }
}



.discover-carousel .carousel,
.discover-carousel .carousel-inner,
.discover-carousel .gatsby-image-wrapper-constrained { 
   // height: 70vh !important;
    width: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1700px) {
  .discover-carousel .carousel,
  .discover-carousel .carousel-inner,
  .discover-carousel .gatsby-image-wrapper-constrained { 
     // height: 70vh !important;
      width: 100%;
      object-fit: cover;
  }
} 
@media only screen and (max-width: 768px) {
    .discover-carousel .carousel,
    .discover-carousel .carousel-inner,
    .discover-carousel .gatsby-image-wrapper-constrained {  
        //height: 40vh !important;
    } 
    .discover-hero .hero-box {
        margin: 15px;
        bottom: -10em;
    }
    .discover-hero .hero-box .max-width {
        padding: 10px 20px 20px 20px;
        text-align: center;
    }
    .discover-carousel .text-field .block {
        margin: 0 15px;
    }
    .discover-carousel .text-field p {
        line-height: 22px;
    }
}








/* TOURS GRID */



.tours {
    margin-top: -5em;
    padding-bottom: 5em;
    &{
        @media(max-width: 500px){
            margin-top: 1em!important;
        }
    }
    .gallery{
        .container{
            .row{
                .col-sm-4{
                    padding-top: 30px;
                }
            }
        }
    }
}

.tours .image .gatsby-image-wrapper-constrained {
    aspect-ratio: 4 / 3;
    width: 100%;
    object-fit: cover;
}
.tours .image {
    position: relative;
}
.tours .image .absolute {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: $paper;
    padding: 10px 15px;
    background-color: #002737a7;
    backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
.tours .image .absolute h3 {
    margin:0 !important;
    font-size: 1.3em;
    font-family: "Prompt", sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.tours .image .absolute h4 {
    margin-bottom: 0 !important;
    margin-top: 5px;
    font-size: 12px;
    letter-spacing: 3px;
    text-decoration: none;
    font-family: "Play", sans-serif;
    font-weight: bold;
}
.tours .gallery .container#max {
    max-width: 1550px;
}
@media only screen and (min-width: 1400px ) {
    .tours .gallery .mantine-Col-root {
        -webkit-flex-basis: 33.333333333333336%;
        -ms-flex-preferred-size: 33.333333333333336%;
        flex-basis: 33.333333333333336%;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        max-width: 33.333333333333336%;
        display: flex;
    }
}
@media only screen and (max-width: 768px) {
    .tours {
        margin-top: -2em;
    }
    
    .tours .image .gatsby-image-wrapper-constrained {
        aspect-ratio: 1 / 1;
    }
    .tours .image .absolute {
        margin: 0;
        padding: 10px;
    }
    .tours .image .absolute h4 {
        font-size: 12px;
        margin-top: 0 !important;
        padding-bottom: 0;
        letter-spacing: 2px;
    }
    .tours .image .absolute h3 {
        font-size: 1.0em;
        margin-bottom: 0 !important;
    }
    .tours .image .absolute Button {
        display:none;
    }
    .tours .mantine-Col-root {
        padding: 2px;
    }
}

@media(max-width: 500px){
    .discover-hero .hero-box .max-width h3 {
        color: #fff;
        font-family: "Play", sans-serif;
        font-size: 16px!important;
    }
    .mantine-1a6i1ew {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        padding: 8px;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        max-width: 100%;
    }
    .tours .image .absolute h3 {
        font-size: 18px!important;
        margin-bottom: 0 !important;
    }
    .tours .image .absolute h4 {
     font-size: 1em!important;
    }
    .discover-hero {

        //padding-top: 139px!important;
    }


}
@media(min-width: 501px) and (max-width: 767px){
    .discover-hero {
    
        padding-top: 0!important;
    }
}









