.hero-main{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: url("../../images/hermans3.png");
    background-position: center top;
    background-size: cover;
    text-align: center;
    padding-bottom: 30px;
    
    p{
        color: #fff;
    font-family: Play, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    z-index: 9;
    padding: 10px;
    }
    span{
        color: #fff;
        font-family: Play, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        z-index: 9;
        padding: 10px;
        a{
            color: #f93;
            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgb(0, 0, 0, 0.2) 20%, rgb(22, 48, 32, 1) 100%);
        z-index: 2;
    }
    .hero-absolute{
        position: relative;
        max-width: 1500px;
        margin: 0 auto;
        height: 100%;
        text-align: center;



        .absolute-cont{
            position: relative;
            //margin-top: 20%;
            width: 100%;
            //height: 100%;
            left: 0;
            text-align: center;
            z-index: 9999999999;
            
            &{
                @media(min-width: 992px){
                    padding-top: 200px;
                    padding-bottom: 100px;
                }
            }
            @media(max-width: 767px){
                top: 30%!important;
            }
            h2{
                color: #f93;
                font-family: Mansalva, sans-serif;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
               
            }
            h1{
              
                color: #fff;
                font-family: Palanquin Dark, sans-serif;
                font-style: normal;
                font-weight: 600;
                padding-bottom: 30px;
                padding-top: 100px;
                font-size: 60px;
                @media(max-width: 767px){
                    font-size: 40px!important;
                }
            }
            .gatsby-image-wrapper {
               
                width: auto;
            }
            p{
                color: #fff;
                font-family: Play, sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                text-decoration: none;
                text-wrap: wrap;
                padding: 10px;
                a{
                    color: #f93;
                    text-wrap: wrap;
                    word-break: break-word;
                    &:hover{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            .row{
                
                @media(max-width: 767px) and (min-width: 400px){
                    flex-wrap: wrap;
                    
                }
                .col-sm-6.one{
                    @media(min-width: 400px){
                        text-align: right;
                        
                    }
                    
                }
                .col-sm-6.two{
                    
                    @media(min-width: 400px){
                        text-align: left;
                           
                    }
                    @media(max-width: 400px){
                        margin-top: 30px;
                    }
                }
                .col-sm-6{
                    @media(max-width: 767px) and (min-width: 400px){
                        width: 50%;
                    }
                    a{
                        text-decoration: none;
                        color: #fff;
                        border: 1px solid #f93;
                        background-color: #f93;
                        padding: 10px 10px 10px 10px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 15px;
                        text-wrap: wrap;
                        .fa{
                            padding-left: 10px;
                        }
                        &:hover{
                            color: #0b2415!important;
                        }
                    }
                }
            }

        }
    }
}

.all-tours{
   // padding-bottom: 80px;
    .row{
        .col-sm-6{
            min-height: 500px;
            position: relative;
            padding: 0px;
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
           .tour{
                .price{
                        width: 313px;
                        float: right;
                        text-align: center;
                        background-image: url("../../images/say-yes.png");
                        background-size: cover;
                        background-position: center;
                        margin-top: 20px;
                        height: 176px;
                        padding-top: 60px;
                        p{
                         max-width: 100%;
                         margin-bottom: 0px;
                         font-size: 30px;
                        color: #FFAA0D;
                        font-family: "Kaushan Script", cursive;
                    }
                    span{
                        font-size: 25px;
                        color: #FFF;
                        font-family: "Kaushan Script", cursive;
                    }
                }
                .desc {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    color: #FFF;
                    background: rgb(6 97 104 / .62);
                     backdrop-filter: blur(5px);
                     h1{
                        margin: 0px;
                        padding: 30px;
                        font-family: Palanquin Dark, sans-serif;
                        font-style: normal;
                        &{
                            @media(max-width: 767px){
                                    font-size: 27px;
                            }
                        }
                     }
                }
            }
        }
        .col-sm-6.tubing{
            background-image: url("../../images/st-hermans-tubing-cta.jpg");
            background-size: cover;
            background-position: center;


        }
        .col-sm-6.exploration{
            background-image: url("../../images/Cave-ex.png");
            background-size: cover;
            background-position: center;
        }
          .col-sm-6.birding{
            background-image: url("../../images/Lovely-Cotinga.png");
            background-size: cover;
            background-position: center;
        }
        .col-sm-6.choco{
            background-image: url("../../images/choco.jpg");
            background-size: cover;
            background-position: center;
        }

        
    }
}

.welcome{
        background-image: url("../../images/landing-img.jpg");
       // padding: 50px;
       margin-bottom: -3px;
        .welcome-main{
             position: relative;
            // background-color: #06402B;
          //   border-radius: 30px;
             overflow: hidden;
             .col-sm-4{
                 &{
                    @media(max-width: 991px){
                                 flex: 100%;
                                 max-width: 100%;
                    }
                }
             }
             .col-sm-8{
                 &{
                    @media(max-width: 991px){
                                 flex: 100%;
                                 max-width: 100%;
                    }
                }
             }
             .featured-cont{
                padding: 80px;
                &{
                    @media(min-width: 1530px) and (max-width: 1808px){
                         padding: 50px!important;
                    }
                }
                 &{
                    @media(min-width: 1200px) and (max-width: 1529px){
                         padding: 30px!important;
                    }
                }
                &{
                    @media(min-width: 992px) and (max-width: 1199px){
                         padding: 15px!important;
                    }
                }
                &{
                    @media(max-width: 991px){
                         padding: 15px!important;
                    }
                }
                h1{
                    font-family: Palanquin Dark, sans-serif;
                    font-style: normal;
                    color: #09442c;
                    margin-bottom: 20px;
                    span{
                        color: #f93;
                    }
                    
                }
                p{
                        color: #09442c;
                      
                        font-family: Play, sans-serif;
                        font-size: 18px;
                        font-weight: 300;
                    
                       // opacity: .8;
                }
             }
             .featured-cont.destinations{
                h1{
                    font-size: 80px;
                    font-family: "Figtree", sans-serif;
                    font-weight: 900;
                    text-transform: uppercase;
                    &{
                        @media(min-width: 992px) and (max-width: 1199px){
                            font-size: 60px;
                        }
                    }
                    &{
                        @media(max-width: 991px){
                            font-size: 42px;
                        }
                    }
                }
             }
             .img-absolute{
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url("../../images/img-abs.png");
                background-repeat: no-repeat;
                //background-size: cover;
                  display: inline-block;
                transform: scaleX(-1);
                 backface-visibility: hidden;
                 &{
                        @media(max-width: 991px){
                            display: none;
                        }
                    }
             }
        }
}

.offers-main{
    position: relative;
    background-image: url("../../images/st_hermans_about_bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    .offers-overlay{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
       // opacity: 0.7;
        //z-index: 2;
    }
    .offers-cont{
        max-width: 1300px;
        margin: 0 auto;
       // padding-bottom: 120px;
        position: relative;
        padding-top: 120px;
        padding-bottom: 120px;
        .row{
            justify-content: center;
           .offers{
            padding: 15px;
            span{
                    font-family: "Prompt", sans-serif;
                    font-weight: bold;
                    font-style: normal;
                    //color: rgb(255, 153, 51);
                    font-size: 20px;       
            }
                h3{
                    font-family: "Kaushan Script", cursive;
                    font-weight: bold;
                    font-style: normal;
                    color: rgb(255, 153, 51);
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                }
                h1{
                    font-family: Londrina Solid, sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    color: #fff;
                    font-size: 50px;
                   
                    letter-spacing: 1.5px;
                }
                p{
                        color: rgb(255, 255, 255);
                        font-size: 20px;
                        font-family: "Play", sans-serif;
                        font-weight: 300;
                        padding-bottom: 20px;
                        max-width: 100%;
                }
                a.all-button.more{
                    //margin: unset!important;
                }
                h1#top{
                    margin-top: 120px;
                    padding-bottom: 20px;
                }
            }

            
        }
    }
}
.location{
    background-image: url("../../images/landing-img.jpg");
    .location-main{
       // max-width: 1500px;
      //  margin: 0 auto;
      .row{
        margin: 0px;
        .col-sm-6{
            padding: 0px;
            iframe{
                border: none;
            }
             &{
                @media(max-width: 767px){
                           flex: 0 0 100%;
                            max-width: 100%;
                }
             }
        }
        .col-sm-6.cont{
            padding-left: 130px;
            text-align: center;
            text-align: left;
            &{
                @media(max-width: 1199px){
                        padding-left: 15px;
                }
            }
            h1{
                &{
                @media(max-width: 1199px){
                           font-size: 55px;
                           margin-bottom: 0px;
                }
            }
            }
            p{
                max-width: 100%;
                    font-family: "Kaushan Script", cursive;
                    font-weight: bold;
                    font-style: normal;
                    color: #0b2415;
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
            }
            .fa{
              padding-right: 20px;
              color: #FFAA0D;
              font-size: 40px;
            }
        }
      }
        
        h1{
            position: relative;
            font-weight: 700;
            font-size: 100px;
            line-height: 192px;
            letter-spacing: .12em;
            text-transform: uppercase;
            background: linear-gradient(to bottom, #09442c 20%, rgb(255 170 13 / .3019607843) 60%, #fff 85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: #fff0;
            background-clip: text;
            text-fill-color: #fff0; 
            &{
                @media(min-width: 1200px) and (max-width: 1442px){
                    font-size: 79px;
                }
            }
        }
    }
}

.top-picks{
    .row{
        
        .col-sm-3{
            padding: 0px;
            position: relative;
             &{
                        @media(min-width: 576px) and (max-width: 1199px){
                                    flex: 0 0 50%;
                                    max-width: 50%;
                        }
            }
            a{
                position: relative;
                height: 100%;
                width: 100%;
                display: block;
                .overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-color: rgb(0, 0, 0, 0.5);
                    z-index: 1;
                }
                .cont{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    z-index: 999999;
                    left: 0;
                    padding: 40px;
                    h1{
                        font-family: Palanquin Dark, sans-serif;
                        font-style: normal;
                        color:  #fff;
                        margin-bottom: 20px;
                        //opacity: 0.8;
                        font-size: 29px;
                    }
                    h2{
                            font-family: "Kaushan Script", cursive;
                            font-weight: bold;
                            font-style: normal;
                            color: #f93;
                            font-size: 20px;
                            text-transform: uppercase;
                            letter-spacing: 1.5px;
                    }
                    p{
                            color: rgb(255, 255, 255);
                            font-size: 20px;
                            font-family: Play, sans-serif;
                            font-weight: 300;
                    }
                }
            }
        }
    }
}

.reviews-main{
    background-image: url("../../images/landing-img.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
    .reviews-cont{
        max-width: 1330px;
        margin: 0 auto;
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        h1{
            position: relative;
            font-weight: 700;
            font-size: 100px;
            line-height: 192px;
            letter-spacing: .12em;
            text-transform: uppercase;
            background: linear-gradient(to bottom, #09442c 20%, rgb(255 170 13 / .3019607843) 60%, #fff 85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: #fff0;
            background-clip: text;
            text-fill-color: #fff0;
            margin-bottom: 0px;
            &{
                @media(min-width: 576px) and (max-width: 991px){
                    font-size: 50px!important;
                }
            }
            &{
                @media(max-width: 575px){
                    font-size: 30px!important;
                }
            }
        }
        p{
            color: #09442c;
            font-family: Play, sans-serif;
            font-size: 20px;
            font-weight: 300;
            max-width: 100%;
            padding-bottom: 30px;
        }
    }
}

