.footer{
    background-image: linear-gradient(rgba(9,16,13,0.88),rgba(9,16,13,0.88)),url(../images/udt-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    //padding: 0 10px;
    padding-top: 60px;
   
  
    .footer-wrapper{
        margin: 0 auto;
        max-width: 1320px;
        padding-bottom: 40px;
        .row{
            margin-right: 0px;
            margin-left: 0px;
            .col-sm-4{
                @media(max-width: 575px){
                    text-align: left;
                }
                .footer-content{
                    p:nth-child(2){
                        font-size: 20px;
                        font-family: Play, sans-serif;
                        letter-spacing: 1px;
                        color: #fff;
                        margin-top: 41px;
                        margin-bottom: 0;
                    }
                    p{
                           color: rgb(255, 255, 255);
                            font-size: 20px;
                            font-family: Play, sans-serif;
                            font-weight: 300;
                            padding-bottom: 10px;
                            
                        margin-bottom: 0;
                    }
                    p#social-main{
                        margin-top: 0px;
                        padding-right: 10px;
                    }
                    ul.social{
                        padding-left: 0px;
                        padding-top: 20px;
                        margin-left: 0;
                        li{
                            display: inline-flex;
                            list-style: none;
                            a{
                                margin-right: 17px;
                                -webkit-transition: all 0.3s ease-in-out;
                                -moz-transition: all 0.3s ease-in-out;
                                transition: all 0.3s ease-in-out; 
                                
                                    svg{
                                        -webkit-transition: all 0.3s ease-in-out;
                                        -moz-transition: all 0.3s ease-in-out;
                                        transition: all 0.3s ease-in-out; 
                                        font-size: 31px;
                                        border: 0.75px solid rgba(255, 153, 51, 0.282);
                                        padding: 5px;
                                        fill: #fff!important;
                                        background-color: #0f1012;
                                    }

                               
                              
                                
                            }
                            a:hover svg{
                                transform: scale(1.2);
                            }
                        }
                        
                    }
                    h1{
                        color: #fff;
                        z-index: 9999;
                        font-family: Marcellus SC, serif;
                        margin-bottom: -14px;
                        font-size: 30px;
                        padding-top: 45px;
                        padding-bottom: 20px;
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 50px;
                            height: 2px;
                            border-radius: 30px;
                            display: block;
                            background: linear-gradient(90deg,#90b956,transparent);
                        }
                    }
                    a{
                        font-size: 20px;
                        font-family: "Kaushan Script", cursive;
                        letter-spacing: 1px;
                        color: rgb(255, 153, 51);
                        text-decoration: none;
                        
                    }
                }
            }
            .col-sm-4.second{
                .footer-content{
                    h1{
                        //padding-bottom: 64px;
                    }
                    p{
                       // margin-top: 5px;
                    }
                }
            }
            .footer-content{
                @media(max-width: 575px){
                    padding-bottom: 20px;
                }
            }
        }
    }
    .footer-copyright{
        text-align: center;
        color: #fff;
        // background-color: #021a2c;
       // padding: 15px;
        margin-bottom: -2px;
        margin-top: 20px;
        padding: 16px 0;
         border-top: 1px solid rgba(255,255,255,.1);
        p{
            margin-bottom: 0px;
            font-size: 12px;
            max-width: 100%;
        }
        a{
            text-decoration: unset;
            color: #5bc5ec;
            &:hover{
                color: #fff;
            }
        }


    }
}